<table class="table">
  
    <tbody>
      <tr>
        <td>Image</td>
        <td>{{film}}</td>
      </tr>
      <tr>
           <td colspan="2">
            <a href="" class="btn btn-primary  btn-block">Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>
